---
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section
  id="intro"
  class="border-white/20 border-b divide-y divide-white/20"
>
  <div class="p-8 relative">
    <BgGrid />
    <p
      class="text-white text-xl md:text-2xl lg:text-4xl font-semibold tracking-tight leading-snug max-w-5xl"
    >
      IT & Network Operations pro specializing in Windows/macOS support and
      system administration. I turn complex tech into clear solutions and keep
      systems reliable while delivering a great user experience.
    </p>
  </div>
  <div class="p-8">
    <p class="text-white font-black uppercase lg:text-3xl">
      Built with Astro and Tailwind CSS, each site is fast, sharp, and tailored
      to tell your story and make your brand stand out. Simple, effective,
      unforgettable.
    </p>
  </div>
</section>
