---
import BgGrid from "@/components/assets/BgGrid.astro";
---

<section class="border-white/20 border-b divide-y divide-white/20">
  <div class="p-8 relative">
    <BgGrid />
    <p
      class="text-white text-xl md:text-2xl lg:text-4xl font-semibold tracking-tight leading-snug max-w-5xl"
    >
      IT and Network Operations professional with a strong background in
      cross-platform support (Windows/macOS) and system administration.
      Recognized for the ability to translate complex technical concepts into
      clear, actionable information for non-technical departments. Committed to
      maintaining high-uptime infrastructure while ensuring a high level of
      end-user satisfaction across all business units.
    </p>
  </div>
  <div class="p-8">
    <p class="text-white font-black uppercase lg:text-3xl">
      Built with Astro and Tailwind CSS, each site is fast, sharp, and tailored
      to tell your story and make your brand stand out. Simple, effective,
      unforgettable.
    </p>
  </div>
</section>
